[Unit]
Description=Obsidian Headless Sync
After=network-online.target
Wants=network-online.target

[Service]
User=bobsidian
ExecStart=/usr/bin/ob sync --path "/home/bobsidian/obsidian-vault" --continuous
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
